<div class="wrapper">
  <h2>Products</h2>
  <div class="wrapper-item" *ngFor="let product of products">
    <div class="wrapper-item-img"><img [src]="product.imgURL" /></div>

    <div class="wrapper-item-right">
      <h3>
        <a [href]="product.url" [title]="product.name">
          {{ product.name }}
        </a>
      </h3>

      <p *ngIf="product.description">Description: {{ product.description }}</p>
      <p *ngIf="product.rating">Rating: {{ product.rating }}</p>

      <div class="buttons">
        <button type="button" (click)="share(product.id)">Share</button>

        <app-product-alerts
          [product]="product"
          (notify)="onNotify()"
        ></app-product-alerts>
      </div>
    </div>
  </div>
</div>

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->
