.wrapper {
    width: 100vw;
    height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid lightgray;
}

.wrapper .wrapper-items {
    padding: 10px;
}

.wrapper .wrapper-items button {
    height: 30px;
    width: 100px;
    border: 1px solid lightblue;
    border-radius: 4px;
    background-color: #3070cf;
    color: white;
    cursor: pointer;
}
